
<%- include('partials/header.ejs') %>

<body>
    
    <%- include('partials/nav.ejs') %>

  
    <div class="container">

        <div class="row">

            <h3> <center> Cadastre uma pergunta </center></h3>
            
        </div>

        <div class="row mt-2">

             <form method="POST" action="/salvarpergunta">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Pergunta</label>
                    <textarea class="form-control" id="descricao" name="descricao"></textarea>
                </div>         
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>

        </div>      


    </div>

  </body>

  <%- include('partials/footer.ejs') %>
